mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
  padding-left: 430px;
}
.full-width-input {
  width: 100%;
}
.bgm-image{
  background: url("./../../../../assets/images/zuper.png");
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.8;
  min-height: 100vh;
  background-color: gray;
}
